$color-primary = #ff6b00;

// header
$header-h = 60px;

// main-body
$body-h = 800px;

// menu
$menu-bg = #001A2A;
$menu-color = #fff;
$menu-w = 180px;

// other
$boder-color = #ccc;
$main-bg = #e1e6ec;
